.navbar {
  min-height: 70px;
}

h1:hover {
  text-decoration: none;
}

.app-title {
  font-size: 2rem;
  color: white;
  width: 25%;
  padding-left: 3%;
}

.app-title:hover {
  color: white;
  text-decoration: none;
}

.form-control:focus {
  box-shadow: 0 0 0;
}

.banner {
  height: 150px;
  width: 100%;
  background: url("img/background.jpg");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  text-shadow: 2px 2px black;
}

/*Responsiveness*/
@media screen and (min-width: 1171px) {
  nav form {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  nav form {
    width: 100%;
  }
  .app-title {
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  nav form {
    width: 100%;
  }

  .app-title {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}
